<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diaristas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><3</a>
        </div>
    </nav>
    <main class="container">
    <h1>Lista Diarista</h1>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Endereço</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="diarista : ${diaristas}">
                <td th:text="${diarista.id}"></td>
                <td>
                    <a th:href="@{/diaristas/{id}(id=${diarista.id})}" th:text="${diarista.nome}"></a>
                </td>
                <td th:text="${diarista.telefone}"></td>
                <td th:text="${diarista.endereco}"></td>
            </tr>
        </tbody>
    </table>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>